@import url("https://fonts.googleapis.com/css2?family=Philosopher&family=Quicksand:wght@400;500&family=Roboto:ital,wght@0,400;1,300&display=swap");
.background {
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#190d71), to(#770583));
  background: linear-gradient(90deg, #190d71 0%, #770583 100%);
  padding: 40px 0 200px;
}

.logo {
  margin-bottom: 50px;
}

.logo a {
  text-align: center;
}

.logo a img {
  display: block;
  width: 100%;
}

form .form-control {
  padding: 25px 20px;
  border: 1px solid #efefef;
  border-radius: 5px;
  background: transparent;
  color: #cfcece;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 300;
  line-height: 16px;
}

form .form-control:focus {
  color: #cfcece;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 300;
  line-height: 16px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #efefef;
  outline: none;
}

.mail {
  margin-bottom: 30px;
  position: relative;
}

.mail span {
  position: absolute;
  top: 13px;
  right: 25px;
  display: inline-block;
  width: 30px;
  height: 10px;
}

.mail span img {
  width: 100%;
}

.password {
  position: relative;
}

.password-control {
  position: absolute;
  top: 20px;
  right: 25px;
  display: inline-block;
  width: 30px;
  height: 10px;
  background: url(../images/eye.png) 0 0 no-repeat;
  background-size: contain;
}

.password-control.view {
  background: url(../images/eye-2.png) 0 0 no-repeat;
  background-size: contain;
  width: 32px;
  height: 12px;
}

.form_link {
  display: block;
  text-align: center;
}

.form_link a {
  color: #cfcece;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  outline: none;
  text-decoration: none;
  display: block;
  margin: 45px 0;
}

.form_link .number_link {
  color: #ffffff;
}

.form_link .number_link span {
  color: #990eb3;
}

.btn {
  padding: 20px 47px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 15px;
  color: #400a79;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}

.btn.btn-primary {
  background: #d4d2ff;
  -webkit-box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
}

.btn.btn-primary:hover {
  background: #d4d2ff;
  color: #400a79;
  -webkit-box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
}

.btn.btn-primary:focus {
  background: #d4d2ff;
  color: #400a79;
  border: none;
}

.btn.btn-primary:not(:disabled):not(.disabled):active {
  background: #d4d2ff;
  color: #400a79;
  border: none;
}

.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 8px 12px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  .background {
    padding: 80px 0 200px;
  }
}

@media only screen and (max-width: 420px) {
  .btn {
    font-size: 25px;
  }
  .form_link a {
    font-size: 22px;
  }
  .background {
    padding: 100px 0 200px;
  }
}

.create_account .background {
  padding: 60px 0 100px;
}

.create_account h3 {
  color: #ffffff;
  text-align: center;
  color: #ffffff;
  font-family: "Philosopher";
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 95px;
}

.create_account .create_account_variaty .btn {
  padding: 20px 100px;
}

.create_account p {
  margin-top: 120px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 60px;
}

.create_account .create_account_code {
  width: 300px;
}

@media only screen and (max-width: 736px) {
  .create_account .create_account_variaty .btn {
    padding: 18px 60px;
    font-size: 27px;
  }
}

@media only screen and (max-width: 568px) {
  .create_account .create_account_variaty .btn {
    padding: 18px 70px;
    font-size: 27px;
  }
  .create_account h3 {
    font-size: 29px;
  }
}

@media only screen and (max-width: 420px) {
  .create_account .create_account_variaty .btn {
    padding: 18px 30px;
    font-size: 22px;
  }
  .create_account h3 {
    font-size: 23px;
  }
  .create_account p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 375px) {
  .create_account p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .create_account .create_account_variaty .btn {
    padding: 18px 23px;
    font-size: 20px;
  }
  .create_account p {
    font-size: 15px;
    margin-top: 81px;
  }
}

.registration_personal .logo {
  width: 258px;
  height: 169px;
}

.registration_personal p {
  color: #ffffff;
  font-family: "Philosopher";
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 90px;
}

.registration_personal form .form-group {
  width: 60%;
}

.registration_personal form label {
  color: #bdbdbd;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 0px;
}

.registration_personal form .form-control {
  font-size: 18px;
}

.registration_personal form p {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 31px;
  font-weight: 400;
  line-height: 40px;
  margin: 60px 0 70px;
}

.registration_personal form button {
  margin-top: 50px;
}

.registration_personal form button.btn {
  padding: 21px 125px;
}

.registration_personal form .check {
  width: 100%;
}

.registration_personal form .form-control.input-control {
  padding: 27px 19px;
}

.registration_personal .check .checkbox .form-control {
  padding: 25px 25px 25px 45px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../images/calendar_arrow.png) no-repeat;
  background-size: contain;
  width: 7px;
  height: 7px;
  border-width: thin;
}

.form_chek span img {
  width: 28px;
  height: 33px;
  position: relative;
  left: 10px;
  bottom: 3px;
}

.form-group.checkbox {
  position: relative;
}

.form-group.checkbox:before {
  content: "";
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 13px;
  margin: auto 0;
  width: 21px;
  height: 18px;
}

.form-group.checkbox.exampleInputPhone:before {
  content: "";
  display: block;
  background: url("../images/phone.png") no-repeat;
  background-size: cover;
}

.form-group.checkbox.exampleInputE-mail:before {
  content: "";
  display: block;
  background: url("../images/e-mail.png") no-repeat;
  background-size: cover;
}

.form-group.checkbox.exampleInputWebsite:before {
  content: "";
  display: block;
  background: url("../images/website.png") no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.form-group.checkbox.exampleInputFacebook:before {
  content: "";
  display: block;
  background: url("../images/facebuck.png") no-repeat;
  background-size: cover;
  width: 19px;
  height: 19px;
}

.form-group.checkbox.exampleInputInstagram:before {
  content: "";
  display: block;
  background: url("../images/instagram.png") no-repeat;
  background-size: cover;
  width: 19px;
  height: 19px;
}

.form-group.checkbox.exampleInputTelegram:before {
  content: "";
  display: block;
  background: url("../images/telegram.png") no-repeat;
  background-size: cover;
  width: 19px;
  height: 19px;
}

.form-group.checkbox.exampleInputWhatsapp:before {
  content: "";
  display: block;
  background: url("../images/whatsapp.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.form-group.checkbox.exampleInputVK:before {
  content: "";
  display: block;
  background: url("../images/vk.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 19px;
}

.form-group.checkbox.exampleInputTikTok:before {
  content: "";
  display: block;
  background: url("../images/tiktok.png") no-repeat;
  background-size: cover;
  width: 14px;
  height: 17px;
  top: 32px;
}

.form-group.checkbox.exampleInputLinkedin:before {
  content: "";
  display: block;
  background: url("../images/likeding.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.form-group.checkbox.exampleInputYoutube:before {
  content: "";
  display: block;
  background: url("../images/youtube.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.form-group.checkbox.exampleInputSkype:before {
  content: "";
  display: block;
  background: url("../images/youtube.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.form-group.checkbox.exampleInputSkype:before {
  content: "";
  display: block;
  background: url("../images/youtube.png") no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

form .checkbox input:invalid + span:after {
  content: "";
  background: url(../images/chek1.png) no-repeat;
  display: block;
  background-size: cover;
  position: absolute;
  top: 41px;
  bottom: 0;
  right: -40px;
  margin: auto 0;
  width: 29px;
  height: 27px;
}

form .checkbox input:valid + span:after {
  content: "";
  background: url(../images/chek2.png) no-repeat;
  display: block;
  background-size: cover;
  position: absolute;
  top: 41px;
  bottom: 0;
  right: -40px;
  margin: auto 0;
  width: 29px;
  height: 27px;
}

@media only screen and (max-width: 1200px) {
  .registration_personal form .form-control {
    padding: 27px 43px;
  }
  .registration_personal form .form-group {
    width: 90%;
  }
  .form-group.checkbox:before {
    left: 15px;
  }
}

@media only screen and (max-width: 540px) {
  .registration_personal form .check .form-group {
    position: relative;
    left: -15px;
    width: 85%;
  }
}

@media only screen and (max-width: 420px) {
  .registration_personal form p {
    font-size: 25px;
  }
  .registration_personal form .form-group {
    width: 95%;
  }
  .registration_personal form .check .form-group {
    width: 87%;
  }
  .registration_personal form button.btn {
    padding: 21px 112px;
  }
}

@media only screen and (max-width: 360px) {
  form .checkbox input:invalid + span:after {
    right: -33px;
  }
}

textarea {
  resize: none;
}

textarea.form-control {
  height: 200px;
}

.form-group select.form-control {
  color: black;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}

.custom-select {
  background-color: transparent;
  background: url(../images/calendar_arrow.png) no-repeat right 0.75rem center/8px 10px;
  color: #bdbdbd;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
}

.custom-select:focus {
  color: #bdbdbd;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #efefef;
  outline: none;
}

.custom-select option {
  background-color: white;
  color: black;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding: 15px 30px;
}

.information {
  width: 60%;
  position: relative;
}

.information .form-group.city {
  position: absolute;
  left: 0;
  width: 48%;
  margin-right: 15px;
}

.information .form-group.country {
  position: relative;
  right: 0;
  width: 48%;
  margin-left: 52%;
}

@media only screen and (max-width: 1200px) {
  .information {
    width: 90%;
  }
}

@media only screen and (max-width: 420px) {
  .information {
    width: 95%;
  }
  .information .form-group.city {
    width: 47%;
  }
  .information .form-group.country {
    width: 47%;
    margin-left: 53%;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.account_people .background {
  padding: 0;
}

.account_people .account_background {
  background: url(../images/account_background.png) no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.account_people .account_background .account_code {
  width: 80px;
}

.account_people .account_background .account_code img {
  width: 100%;
}

.account_people .account_background .logo {
  position: relative;
  bottom: 20px;
  right: 120px;
}

.account_people .account_background .logo img {
  width: 100%;
}

.account_information {
  margin-top: 350px;
  margin-bottom: 80px;
}

.account_information .row {
  position: relative;
}

.account_information h2 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 300;
  line-height: 32px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.account_information p {
  color: #a2a2a2;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.account_information p.account_manager {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 300;
  line-height: 27px;
}

.account_information p.account_manager span {
  font-size: 20px;
}

.account_information p.discription {
  color: #990cb0;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
}

.account_information .account_image {
  width: 400px;
  position: absolute;
  top: -256px;
  right: 80px;
}

.account_information .account_image img {
  width: 100%;
}

.account_social-icon {
  margin-bottom: 150px;
}

.account_social-icon .link {
  margin-bottom: 50px;
}

.account_social-icon .link a img {
  width: 100px;
}

.account_social-icon p {
  color: #bdbdbd;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.account_personal {
  padding-bottom: 100px;
}

.account_personal img {
  width: 100%;
}

.account_personal .img {
  position: relative;
}

.account_personal .img:hover {
  position: relative;
  bottom: 40px;
}

.account_personal .img:hover:after {
  content: "";
  display: block;
  background: url(../images/User.png) no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -7px;
  bottom: 0;
  left: 24%;
  margin: auto 0;
  width: 48%;
  height: 70%;
}

@media only screen and (max-width: 1024px) {
  .row {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .account_people .account_background .logo {
    right: 40px;
  }
  .account_information {
    margin-top: 240px;
  }
  .account_people .account_background {
    background-size: contain;
  }
  .account_information .account_image {
    width: 340px;
    position: absolute;
    top: -261px;
    right: 4px;
  }
  .account_social-icon {
    margin-bottom: 93px;
  }
}

@media only screen and (max-width: 640px) {
  .account_information .account_image {
    width: 283px;
  }
}

@media only screen and (max-width: 420px) {
  account_people .account_background .logo {
    right: 0px;
  }
  .account_people .account_background .logo img {
    position: absolute;
    width: 87px;
    right: 20px;
    top: 7px;
  }
  .account_people .account_background .account_code img {
    position: absolute;
    width: 42px;
  }
  .account_people .account_background {
    padding-top: 25px;
  }
  .account_information {
    margin-bottom: 45px;
  }
  .account_information .account_image {
    width: 215px;
    position: absolute;
    margin-top: 73px;
    right: -15px;
  }
  .account_information .accoun_information_text {
    margin-top: 50px;
  }
  .account_information h2 {
    font-size: 42px;
  }
  .account_information p.discription {
    font-size: 40px;
  }
  .link {
    width: 50%;
  }
  .account_social-icon {
    margin-bottom: 0px;
  }
  .account_personal .img:hover {
    position: relative;
    bottom: 0px;
  }
}

.checkout {
  padding-top: 50px;
}

.checkout h2 {
  color: #000000;
  font-family: "Quicksand";
  font-size: 25px;
  font-weight: 500;
  line-height: 27px;
}
/*# sourceMappingURL=style.css.map */