@mixin font-color($c, $ff, $fs, $fw, $lh) {
	color: $c;
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
}
.registration_personal {
	.logo {
		width: 258px;
		height: 169px;
	}
	p {
		@include font-color(#ffffff, "Philosopher", 28px, 400, 32px);
		margin-bottom: 90px;
	}
	form {
		.form-group {
			width: 60%;
		}
		label {
			@include font-color(#bdbdbd, "Roboto", 14px, 300, 32px);
			margin-bottom: 0px;
		}
		.form-control {
			font-size: 18px;
		}
		p {
			@include font-color(#ffffff, "Roboto", 31px, 400, 40px);
			margin: 60px 0 70px;
		}
		button {
			margin-top: 50px;
			&.btn {
				padding: 21px 125px;
			}
		}
		.check {
			width: 100%;
		}
	}
	form .form-control.input-control {
		padding: 27px 19px;
	}
	.check .checkbox .form-control {
		padding: 25px 25px 25px 45px;
	}
}
input[type="date"]::-webkit-calendar-picker-indicator {
	color: rgba(0, 0, 0, 0);
	opacity: 1;
	display: block;
	background: url(../images/calendar_arrow.png) no-repeat;
	background-size: contain;
	width: 7px;
	height: 7px;
	border-width: thin;
}
.form_chek span img {
	width: 28px;
	height: 33px;
	position: relative;
	left: 10px;
	bottom: 3px;
}
.form-group.checkbox {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 30px;
		bottom: 0;
		left: 13px;
		margin: auto 0;
		width: 21px;
		height: 18px;
	}
	&.exampleInputPhone:before {
		content: "";
		display: block;
		background: url("../images/phone.png") no-repeat;
		background-size: cover;
	}
	&.exampleInputE-mail:before {
		content: "";
		display: block;
		background: url("../images/e-mail.png") no-repeat;
		background-size: cover;
	}
	&.exampleInputWebsite:before {
		content: "";
		display: block;
		background: url("../images/website.png") no-repeat;
		background-size: cover;
		width: 18px;
		height: 18px;
	}
	&.exampleInputFacebook:before {
		content: "";
		display: block;
		background: url("../images/facebuck.png") no-repeat;
		background-size: cover;
		width: 19px;
		height: 19px;
	}
	&.exampleInputInstagram:before {
		content: "";
		display: block;
		background: url("../images/instagram.png") no-repeat;
		background-size: cover;
		width: 19px;
		height: 19px;
	}
	&.exampleInputTelegram:before {
		content: "";
		display: block;
		background: url("../images/telegram.png") no-repeat;
		background-size: cover;
		width: 19px;
		height: 19px;
	}
	&.exampleInputWhatsapp:before {
		content: "";
		display: block;
		background: url("../images/whatsapp.png") no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
	}
	&.exampleInputVK:before {
		content: "";
		display: block;
		background: url("../images/vk.png") no-repeat;
		background-size: cover;
		width: 20px;
		height: 19px;
	}
	&.exampleInputTikTok:before {
		content: "";
		display: block;
		background: url("../images/tiktok.png") no-repeat;
		background-size: cover;
		width: 14px;
		height: 17px;
		top: 32px;
	}
	&.exampleInputLinkedin:before {
		content: "";
		display: block;
		background: url("../images/likeding.png") no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
	}
	&.exampleInputYoutube:before {
		content: "";
		display: block;
		background: url("../images/youtube.png") no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
	}
	&.exampleInputSkype:before {
		content: "";
		display: block;
		background: url("../images/youtube.png") no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
	}
	&.exampleInputSkype:before {
		content: "";
		display: block;
		background: url("../images/youtube.png") no-repeat;
		background-size: cover;
		width: 20px;
		height: 20px;
	}
}
form .checkbox {
	input:invalid + span:after {
		content: "";
		background: url(../images/chek1.png) no-repeat;
		display: block;
		background-size: cover;
		position: absolute;
		top: 41px;
		bottom: 0;
		right: -40px;
		margin: auto 0;
		width: 29px;
		height: 27px;
	}
	input:valid + span:after {
		content: "";
		background: url(../images/chek2.png) no-repeat;
		display: block;
		background-size: cover;
		position: absolute;
		top: 41px;
		bottom: 0;
		right: -40px;
		margin: auto 0;
		width: 29px;
		height: 27px;
	}
}
@media only screen and (max-width: 1200px) {
	.registration_personal form {
		.form-control {
			padding: 27px 43px;
		}
		.form-group {
			width: 90%;
		}
	}
	.form-group.checkbox:before {
		left: 15px;
	}
}
@media only screen and (max-width: 540px) {
	.registration_personal form .check .form-group {
		position: relative;
		left: -15px;
		width: 85%;
	}
}
@media only screen and (max-width: 420px) {
	.registration_personal form p {
		font-size: 25px;
	}
	.registration_personal form .form-group {
		width: 95%;
	}
	.registration_personal form .check .form-group {
		width: 87%;
	}
	.registration_personal form button.btn {
		padding: 21px 112px;
	}
}
@media only screen and (max-width: 360px) {
	form .checkbox input:invalid + span:after {
		right: -33px;
	}
}
